*.local
*.log
*.orig
.#*
.DS_Store
.cache
.eslintcache
.env.production
.idea
.next
.npmrc
.vim
.vercel
.vscode
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
BUILD-INFO
DEPLOY-INFO
coverage
node_modules
public/_storybook
reports
temp
